

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
    <%@items.each do |item| %>
    <tr>
      <td><%=item.id%></td>
      <td><%=item.title%></td>
      <td><%=item.category%></td>
      <td><%=item.description%></td>
      <td><%=item.price%></td>
    </tr>
      <%end%>
</table>
