

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Edit</th>
  </tr>
    <%@items.each do |item| %>
    <tr>
      <td><%=item.id%></td>
      <td><%=item.title%></td>
      <td><%=item.category%></td>
      <td><%=item.description%></td>
      <td><%=Error: source does not appear to be markup.%></td>
      <td><%=item.total_order%></td>
      <td> <%=link_to "Edit this item", edit_item_path(:id => item.id)%> </td>
    </tr>
      <%end%>
</table>
