<%=link_to"Home page",root_path%>

<div class="container">
    <h1><%=@item.title%></h1>
    <h3><%=@item.category%></h3>
    <h3><%=@item.description%></h3>
    <h1><%=number_to_currency(@item.price.to_i/100.0)%></h1>

</div>
<%= link_to "Edit this item", edit_item_path(id: @item.id) %>
